{% extends 'layout.html.twig' %}

{% block stylesheet %}
<link rel="stylesheet" href="/assets/css/style_blind_test.css">
{% endblock %}

{% block content %}
<header>
    <div class="img-header">
        <a href="/"><img src="/assets/images/lyrics_logo.png" alt="logo Lyrics Break"></a>
    </div>
    <div class="score">
        <span class="score-title">Your score :</span>
        <div class="star"><span class="scoreStar">{{ session.score }}</span></div>
    </div>
</header>
<main>
    <section class="song">
        <div class="cover-song">
            <div class="circular">
                <div class="inner" style="--totaltime: 15s;">
                    <input id="totaltime" type="hidden" value="15">
                    <img class="img-cover" src="/assets/images/vinyle_white.png" alt="album cover">
                    <audio src=""></audio>
                    <a onload="play()" onclick="play()" class="audio">
                        <audio id="audio">
                    </a>

                </div>
                <div class="circle">
                    <div class="bar left" style="--value1: 7.5s; --value2: 7.5s;">
                        <div class="div-progress progress progress-left"></div>
                    </div>
                    <div class="bar right" style="--value1: 7.5s; --value2: 7.5s;">
                        <div class="div-progress progress progress-right"></div>
                    </div>
                </div>
            </div>
        </div>

    </section>

    <section class="answer">
        <form method="post" id="form">
            <div>
                <input type="text" id="form-answer-title" name="user_answer_title" placeholder="Guess the title ...">
            </div>
            <div class ="quick-div-for-reload">
                <input type="text" id="form-answer-artist" name="user_answer_artist" placeholder="Guess the artist ...">
                <input type="submit" id="form-submit" value="">
            </div>
        </form>
    </section>
</main>
<div class="people_background">
</div>
{% endblock %}

{% block javascript %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"
    integrity="sha256-S1J4GVHHDMiirir9qsXWc8ZWw74PHHafpsHp5PXtjTs=" crossorigin="anonymous"></script>
<script>
    function play() {
        var audio = new Audio('{{ song.url }}');
        audio.volume = 0.07;
        console.log(audio);
        audio.play();
    }

    let toggle = document.querySelector('.audio');
    let resetAnimationImg = document.querySelector('.img-cover');
    let progressRight = document.querySelector('.progress-right');
    let progressLeft = document.querySelector('.progress-left');

    toggle.addEventListener('click', function () {
        toggle.classList.add("stop");
        progressRight.style.animation = 'none';
        progressLeft.style.animation = 'none';
        progressRight.style.animationDelay = 'none';
        resetAnimationImg.style.animationName = 'none';
        setTimeout(function () {
            progressRight.style.animation = '';
            progressLeft.style.animation = '';
            progressRight.style.animationDelay = '';
            resetAnimationImg.style.animationName = '';
        }, 100);
    })

    window.onload = play();

    function addPlayButton() {
        toggle.classList.add("play");
    }

    let totaltime = document.getElementById("totaltime");
    totaltime = totaltime.value * 1000;

    var timeout = setTimeout(function () {
        addPlayButton();
    }, totaltime);
</script>
<script>
    // This script changes the lyrics div by showing back the user his answer and tell if they were right.
    // We use ajax to get the result from our database.
    let formSubmit = document.getElementById("form-submit");
    let divAnswer = document.querySelector('.wordsToFind');

    formSubmit.addEventListener('click', (event) => {
        event.preventDefault();
                
        let answerTitle = document.getElementById("form-answer-title").value;
        let answerArtist = document.getElementById("form-answer-artist").value;
        let quoteHtml = ""

        const url = `/verifyblind?title=${answerTitle}&artist=${answerArtist}`;
        axios.get(url)
            .then(function (response) {
                if (response.data[0] !=
                    false) { // If the form verificator returned an error we show it with an alert.
                    alert(`${response.data[0]}`);
                }

                // Remove the validate answer input and change it to a reload page
                var elem = document.getElementById("form-submit");
                elem.parentNode.removeChild(elem);

                // When the answer is submitted, we change the submit button to a reload one.
                let node = document.createElement("input");
                node.setAttribute("id", "form-reload");
                node.setAttribute("type", "submit");
                node.setAttribute("value", "");
                document.querySelector(".quick-div-for-reload").appendChild(node);

                /*response.data[0].forEach(word => {
                    isCorrect = word[1] ? 'word-correct' : 'word-false'; // This sets up a color whether the word is correct or not.
                    quoteHtml += `<span class="${isCorrect}">${word[0]} </span>`;
                });
                divAnswer.innerHTML = quoteHtml;

                if (response.data[1] == false) {
                    setTimeout(() => {
                        // If the answer isn't correct, after 4 seconds we show the right answer.
                        divAnswer.classList.add("wrong-answer");

                        let node = document.createElement("h2"); 
                        node.classList.add("word-correct");
                        let textnode = document.createTextNode(response.data[2]);
                        node.appendChild(textnode); 
                        document.querySelector(".text").appendChild(node);
                    }, 4000);
                }
                */
            })
    });
</script>

{% endblock %}