/* VARIABLES */

:root {
    --main-color: #32154B;
    --secondary-color: #1D3E60;
    --title-font: 'Magra', sans-serif;
    --text-font: 'Raleway', sans-serif;
    --lyrics-font: 'Gochi Hand', sans-serif;
}

*{
    box-sizing: border-box;
    margin: 0 auto;
}

body{
    background: linear-gradient(180deg, #6624A4 0%, rgba(115, 36, 137, 0.791667) 38.54%, rgba(228, 66, 66, 0.81) 65.62%, #DB4848 100%) no-repeat center center fixed;
}

.logo_lyrics{
    background-image: url(../images/lyrics_logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 10.375rem; 
    width: 16.2rem;
    margin-top: 4rem;
}

.people_background{
    z-index: -1;
    background-image: url(../images/people_background.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 35%;
    position: fixed;
    bottom: 0;
}

header {
    height: 20vmin;
    width: 100%;
    background: #350A5F;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-header img {
    height: 3.625rem;
}

.song {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 40% auto;
}

.song h1 {
    font-size: 1.2rem;
    font-family: var(--title-font);
    margin-top: 1rem;
    color: #FFFFFF;
    text-align: center;
}

.song h2 {
    font-size: 0.9em;
    font-family: var(--title-font);
    margin-top: 0.25rem;
    color: #FFFFFF;
    text-align: center;
}

.score {
    font-family: var(--text-font);
    color: white;
    font-weight: bold;
    display: flex;
    align-items: center;
    border-radius: 9px;
    padding: 0.5rem;
    text-align: center;
    position: absolute;
    right: 5%;
}

.score .score-title {
    display: none;
}

.star {
    background-image: url(../images/star.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
}

.answer {
    position: fixed;
    bottom: 0; 
    width: 100%;   
}

.answer form {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    flex-direction: column;
}

form div {
    display: flex;
    width: 20rem;
    margin: 0 auto;
}

form input[type=text] {
    padding-left: 1em;
    width: 17.5rem;
    height: 2.5rem;
    margin-bottom: 1rem;
    border-radius: 7px;
    border: none;
}

form input[type=submit] {
    width: 2.5rem;
    height: 2.5rem;
    background: #3ab81a;
    color: #fff;
    border-radius: 7px;
    border: none;
    background-image: url('../images/Yes.png');
    background-position: center;
    background-size: 1.8em;
    background-repeat: no-repeat;
    margin-bottom: 1rem;
    margin-left: 1rem;
}

form input[type=submit]:hover, form input[type=submit]:focus {
    -webkit-animation: pulse 1s;
    animation: pulse 1s;
    box-shadow: 0 0 0 .8em rgba(255, 255, 255, 0);
}

@-webkit-keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 #3ab81a;
    }
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 #3ab81a;
    }
}

form input[type=submit]:hover {
    background-color: #57da37;
    transition: 0.2s;
}

#form-reload{
    background-color: royalblue;
    background-image: url(../images/reload.png);
}

#form-reload:hover {
    background-color: dodgerblue;
    transition: 0.2s;
}

#form-reload:hover, #form-reload:focus {
    -webkit-animation: pulse2 1s;
    animation: pulse2 1s;
    box-shadow: 0 0 0 .8em rgba(255, 255, 255, 0);
}

@-webkit-keyframes pulse2 {
    0% {
        box-shadow: 0 0 0 0 dodgerblue;
    }
}

@keyframes pulse2 {
    0% {
        box-shadow: 0 0 0 0 dodgerblue;
    }
}

.circular{
    height: 12rem;
    width: 12rem;
    position: relative;  
}

.circular .inner {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 100px;
    width: 100px;
}

.circular .inner a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0);
    position: absolute;
    z-index: 50;
    top: -19px;
    left: -9px;
    border-top: 20px solid;
    border-bottom: 20px solid ;
    border-left: 30px solid #fff;
    cursor: pointer;
    display: none;
}

.circular .inner a.play {
    display: block;
}

.circular .inner a.stop {
    border-top: 0;
    border-bottom: 0;
    border-left: 0;
}

.circular .inner img{
    position: absolute;
    z-index: 6;
    height: 10rem;
    width: 10rem;
    margin: -5em 0 0 -5em;
    animation-name: rotate;
    animation-duration: var(--totaltime);
    animation-timing-function: linear;
}

@keyframes rotate{
    from{ transform: rotate(-360deg); }
    to{ transform: rotate(360deg); }
}

.circular .bar {
    position: absolute;
    height: 100%;
    width: 100%;
    background: #fff;
    border-radius: 100%;
    clip: rect(0px, 12rem, 12rem, 6rem);
}

.circle .left {
    left: -.5%;
    width: 12.03rem;
    height: 12.03rem;
}

.circle .right {
    width: 12.03rem;
    height: 12.03rem;
}

.circle .bar .progress{
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 100%;
    clip: rect(0px, 6rem, 12rem, 0px);
    background: #E45A5A;
}

.circle .left .progress-left {
    z-index:1;
    animation: left var(--value1) linear both;
}

@keyframes left{
    100%{
        transform: rotate(180deg);
    }
}

.circle .right {
    transform: rotate(180deg);
    z-index:3;
}

.circle .right .progress-right {
    animation: right var(--value2) linear both;
    animation-delay: var(--value1);
}

@keyframes right{
    100%{
        transform: rotate(180deg);
    }
}

/* Answer verification */
.word-correct{
    color:green;
}

.word-false{
    color:red;
}

.wrong-answer{
    text-decoration: line-through;
}

@media screen  {
    
}

/* Media Queries screen > 600 */

@media screen and (min-width: 600px) {
    header {
        height: 15vmin;
    }

    .song {
        margin: 10% auto;
    }

    form div {
        width: 40em;
        margin-left: 27%;
    }

    .score {
        height: 4rem;
        width: 10rem;
        background-color: rgba(255, 255, 255, 0.322);
    }

    .score .score-title {
        display: block;
    }
}

@media screen and (min-width: 800px) {
    form div {
        margin-left: 34%;
    }
}


/* Media Queries screen > 1024 */

@media screen and (min-width: 1024px) {
    form div {
        margin-left: auto;
    }

    .text h2 {
        font-size: 1.5em;
    }

    .img-header img {
        height: 5.625rem;
    }

    .song {
        gap: 20px;
    }

    .infos {
        background-color: rgba(22, 6, 37, .3);
        padding: 20px;
        border-radius: 13px;
    }

    .infos h1 {
        margin-top: 0;
        font-size: 1.875em;
    }

    .infos h2 {
        font-size: 1.563em;
    }

    form input[type=text] {
        width: 40rem;
        height:3rem;
    }

    form input[type=submit] {
        width: 3rem;
        height: 3rem;
    }

    .answer {
        bottom: 4%;
    }
}

@media screen and (min-width: 1275px) {
    

    .text h2 {
        font-size: 1.8em;
    }

    main {
        margin-top: 5%;
    }

    form input[type=text] {
        height: 4rem;
    }

    form input[type=submit] {
        width: 4rem;
        height: 4rem;
    }

    .circular, .circle .left, .circle .right {
        width: 16.02rem;
        height: 16rem;
    }

    .circle .left {
        left: -2%;
    }

    .circular .inner img {
        height: 14rem;
        width: 14rem;
        margin: -7.1em 0 0 -7.1em;
    }

    .circular .bar {
        clip: rect(0px, 16rem, 16rem, 8.1rem);
    }

    .circular .bar .progress {
        clip: rect(0px, 8.1rem, 16rem, 0px);
    }
}